---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Angular from "./icons/Angular.astro"
import DotNet from "./icons/DotNet.astro"
import SQLServer from "./icons/SQLServer.astro"
import CPlusPlus from "./icons/CPlusPlus.astro"
import SpringBoot from "./icons/SpringBoot.astro"

const TAGS = {
  Angular: {
    name: "Angular",
    class: "bg-white text-black",
    icon: Angular,
  },
  DOTNET: {
    name: ".NET",
    class: "bg-[#80638F] text-white",
    icon: DotNet,
  },
  SQLSERVER: {
    name: "SQL Server",
    class: "bg-[#000232] text-white",
    icon: SQLServer,
  },
  CPLUSPLUS: {
    name: "C++",
    class: "bg-[#506D87] text-white",
    icon: CPlusPlus,
  },
  SPRINGBOOT: {
    name: "Spring Boot",
    class: "bg-[#585E4C] text-white",
    icon: SpringBoot,
  }
}
const PROJECTS = [
  {
    title: "Sistema de compras",
    description:
      "Sistema de compras para crear/editar productos, proveedores y ordenes de compra. Dashboard interactivo. Creado con Angular y Spring Boot.",
    link: "https://sistema-compras-oggn.onrender.com/",
    github: "https://github.com/adrianparta/Sistema-compras",
    image: "/projects/sistema-compras.webp",
    tags: [TAGS.Angular, TAGS.SPRINGBOOT, TAGS.SQLSERVER],
  },
  {
    title: "Reporte de llamados telefónicos",
    description:
      "Aplicación web para reportar y analizar llamados telefónicos. Incluye gráficos interactivos y filtros avanzados. Aplicación para uso interno de los bancos. Creado con Angular y .NET",
    image: "/projects/reporte-llamadas.webp",
    tags: [TAGS.Angular, TAGS.DOTNET, TAGS.SQLSERVER],
  },
  {
  title: "Juego TEG versión consola",
  description: `Famoso juego de mesa reversionado para consola:
  - Cumplimiento de todas las reglas del juego original
  - Simulador de dados aleatorios
  - Movimiento con flechas direccionales
  Este proyecto fue desarrollado para programación 1 en UTN, al presentarlo, obtuve halagos por la complejidad del proyecto y el resultado final.`,
  image: "/projects/teg.webp",
  tags: [TAGS.CPLUSPLUS],
  github: "https://github.com/adrianparta/TEG",
}
]
---

<div class="flex flex-col gap-y-16 mx-6 mt-10">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={`proyecto ${title}`} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2  items-center`}
              >
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400 whitespace-pre-line">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Código
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Ver proyecto
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



